@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

.row-size {
  width: 150px
}

.search-field {
  height: calc(1.5em + 0.75rem + -8px) !important;
}

.my-account {
  font-size: calc(1.5em + 0.75rem + -8px) !important;
  text-decoration: none !important;
}
